<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Ingresar</title>
    <!--vincular el CSS con link-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--fontawesome para los iconos archivo .js javascript-->
    <script src="https://kit.fontawesome.com/f7e0d98e38.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="main-mercadoliebre">
            <a href="./"><img class="header-logo" src="./img/logo-mercado-liebre.svg" alt="" /></a>
            </div>
            <div class="buscador">
                <input type="search" name="busquedacodigo" placeholder="Buscar productos, marcas">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <h3 class="header-title"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h3>

        </div>

        <nav class="header-lista">
            <ul class="left-navbar">
                <li><a href="#">Oferta</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="./formulario"">Creá tu cuenta <i class="fa-solid fa-credit-card"></i></a></li>
                <li><a href="./ingresar">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

        <a href="#" class="burger-menu"><i class="fa-solid fa-bars"></i></a>

    </header>
    <main class="main-login">
        <form class="form-login">
            <div class="form-container">
                <div class="form-group">
                    <input class="input-login" placeholder="Nombre de usuario" type="text" name="usuario" id="usuario">
                </div>
                <div class="form-group">
                    <input class="input-login" placeholder="Contraseña" type="password" name="clave">
                </div>
                <input class="form-submit" type="submit" value="Enviar">
            </div>
        </form>
    </main>
    <footer class="footer">
        <!--El footer deberá tener las siguientes secciones:​-->
        <div class="div-footer-contenedor">
        <section class="section-footer">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="section-footer">
            <i class="fa-sharp fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="section-footer">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        </div>
        <section class="copy-footer">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>  
         
    </footer>
</body>
</html>